/* 
*    
*   Microsoft Default Style
*
*/

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
}

@media (min-width: 768px) {
	.form-control {
		max-width: 280px;
	}
}


/* 
*    
*   Styles Personalizzati
*
*/
.page-header{
    margin-top:1px !important;
}

/* rimuove le animazioni dal collapse */
.ricercaavanzata-collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

.panel-body-ordini-nonprogrammati{
    min-height:90px;
}

.dropdown-menu-custom-width {
    min-width: 30rem !important;
}