<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Dwh.DataAccess.Wcf.Service.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Dwh.DataAccess.Wcf.Service.My.MySettings.DWHConnectionString" connectionString="Data Source=ALDERAAN;Initial Catalog=AuslAsmnRe_DwhClinicoV3;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Dwh.DataAccess.Wcf.Service.My.MySettings.SACConnectionString" connectionString="Persist Security Info=False;User ID=SAC_DWC;Password=User4deV;Initial Catalog=AuslAsmnRe_SAC;Data Source=ALDERAAN;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
  </system.web>

  <system.serviceModel>
    <client>
      <remove contract="IMetadataExchange" name="mssql"/>
      <remove contract="IMetadataExchange" name="oracledb"/>
    </client>

    <bindings>
      <basicHttpBinding>
        <binding name="BasicBindingDelServizio" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="320" maxStringContentLength="819200" maxArrayLength="1638400" maxBytesPerRead="409600" maxNameTableCharCount="1638400"/>
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>

    <services>
      <service behaviorConfiguration="Service.Behavior" name="Dwh.DataAccess.Wcf.Service.NoteAnamnestiche">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBindingDelServizio" name="BasicHttpEndpoint" bindingNamespace="http://schemas.progel.it/BT/DWH/DataAccess/NoteAnamnestiche/1.0" contract="Dwh.DataAccess.Wcf.Service.INoteAnamnestiche"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Dwh.DataAccess.Wcf.Service/"/>
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="Service.Behavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

  <applicationSettings>
    <Dwh.DataAccess.Wcf.Service.My.MySettings>
      <setting name="LogInformation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogWarning" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogError" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogTrace" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WaitAfterTimeout" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="WaitAfterDeadlocked" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="RetryCount" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="WaitAfterNetError" serializeAs="String">
        <value>60000</value>
      </setting>
      <setting name="SACUsername" serializeAs="String">
        <value/>
      </setting>
      <setting name="SACPassword" serializeAs="String">
        <value/>
      </setting>
      <setting name="LogSource" serializeAs="String">
        <value>DI.DHW.DataAccess.NoteAnamnestiche</value>
      </setting>
      <setting name="InstrumentationKey" serializeAs="String">
        <value>47f2a002-85e4-4b5b-af93-bb848e0c7a4a</value>
      </setting>
    </Dwh.DataAccess.Wcf.Service.My.MySettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.TelemetryCorrelation" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.8.0" newVersion="1.0.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
