<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings />
  <connectionStrings>
    <add name="AuslAsmnRe_SacConnectionString" connectionString="Data Source=ALDERAAN;Initial Catalog=AuslAsmnRe_SAC;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="AuslAsmnRe_PortalUserConnectionString" connectionString="Data Source=ALDERAAN;Initial Catalog=AuslAsmnRe_DiUserPortal;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="AuslAsmnRe_DwhClinicoV3ConnectionString" connectionString="Data Source=alderaan;Initial Catalog=AuslAsmnRe_DwhClinicoV3;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="EventLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <trace autoflush="true" indentsize="4">
      <listeners />
    </trace>
    <sharedListeners>
      <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="PortalUserHome" />
    </sharedListeners>
  </system.diagnostics>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <authentication mode="Windows" />
    <authorization>
      <allow roles="progel.it\DevAccesso_DI_FrontEnd" />
      <deny users="?" />
      <deny users="*" />
    </authorization>
    <!--
       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages masterPageFile="~/Page.master" clientIDMode="AutoID">
      <namespaces>
        <clear />
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Linq" />
        <add namespace="System.Xml.Linq" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
	
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<clear />
				<add name="X-UA-Compatible" value="IE=EmulateIE7" />
			</customHeaders>
		</httpProtocol>
		<modules>
			<remove name="TelemetryCorrelationHttpModule" />
			<add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
			<remove name="ApplicationInsightsWebTracking" />
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
		</modules>
		<validation validateIntegratedModeConfiguration="false" />
	<handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>

	<!-- 
    CONFIGURAZIONI PER NEWS
    Se <setting name="DwhNewsListName" serializeAs="String"> ha un valore vuoto non viene invocato il ws delle news.
    Valore in SVILUPPO: <value>Annunci</value>
    Valore in PRODUZIONE/LABORATORIO: il GUID della lista Share Point 
  -->
  <applicationSettings>
    <My.MySettings>
      <setting name="ReportingUrl" serializeAs="String">
        <value>http://DAGOBAH2:8088/Reporting/Reports/{0}.aspx</value>
      </setting>
      <setting name="DwhNewsMaxRowsNumber" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="DwhNewsUser" serializeAs="String">
        <value />
      </setting>
      <setting name="DwhNewsPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="DwhNewsUrlDetail" serializeAs="String">
        <value>https://wss3-dev.progel.it/Lists/Annunci/DispForm.aspx?ID={0}</value>
      </setting>
      <setting name="DwhNewsImpersonate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MenuLeft_Visible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DwhNewsTitle" serializeAs="String">
        <value>NEWS Sistemi Clinici</value>
      </setting>
      <setting name="DwhNewsListName" serializeAs="String">
        <value />
      </setting>
      <setting name="VecchioPortaleUserUrlASMN" serializeAs="String">
        <value>http://dagobah2.progel.org:8088/PortalHome</value>
      </setting>
      <setting name="VecchioPortaleUserUrlAUSL" serializeAs="String">
        <value>http://dagobah2.progel.org:8088/PortalHome</value>
      </setting>
      <setting name="WsSac_User" serializeAs="String">
        <value>progel.it\dev_vs</value>
      </setting>
      <setting name="WsSac_Password" serializeAs="String">
        <value>aa1234BB</value>
      </setting>
      <setting name="InstrumentationKey" serializeAs="String">
        <value>47f2a002-85e4-4b5b-af93-bb848e0c7a4a</value>
      </setting>
    </My.MySettings>
  </applicationSettings>
  <system.serviceModel>
    <behaviors>
           <endpointBehaviors>
              <behavior name="ImpersonationBehavior">
                 <clientCredentials>
                      <windows allowedImpersonationLevel="Impersonation" />
                 </clientCredentials>
              </behavior>
           </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="ListsSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="655360" maxBufferPoolSize="5242880" maxReceivedMessageSize="655360" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="320" maxStringContentLength="81920" maxArrayLength="163840" maxBytesPerRead="40960" maxNameTableCharCount="163840" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IRoleManager" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://portale.progel.it/_vti_bin/Lists.asmx" binding="basicHttpBinding" bindingConfiguration="ListsSoap" contract="DI.OrderEntry.DwhNewsServiceReference.ListsSoap" behaviorConfiguration="ImpersonationBehavior" name="ListsSoap" />
      <endpoint address="http://dagobah2.progel.org:8082/WS-DI-SAC-3/SAC.Wcf.Service.RoleManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoleManager" contract="WcfSacRoleManager.IRoleManager" name="BasicHttpBinding_IRoleManager" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.DependencyCollector" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>