<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v2.0.50727" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" maxBufferSize="655360"
                    maxReceivedMessageSize="655360" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/ListenRichieste/Service"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
                contract="ServiceReference.IService" name="BasicHttpBinding_IService" />
        </client>
    </system.serviceModel>
</configuration>