<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="OE.Wcf.BtDataAccess.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>

  <system.diagnostics>
    <sources>
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="EventLog" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="OE.Wcf.BtDataAccess" />
    </sharedListeners>
  </system.diagnostics>

  <system.serviceModel>
		<client>
			<remove contract="IMetadataExchange" name="mssql" />
			<remove contract="IMetadataExchange" name="oracledb" />

			<!-- Client SAC consumati-->
			<endpoint address="http://dagobah2.progel.org:8082/WS-DI-SAC-3/SAC.Wcf.Service.Transcodifiche.svc" binding="basicHttpBinding" bindingConfiguration="ClientSacBasicHttpBinding" contract="SAC.Transcodifiche.ITranscodifiche" name="SacITranscodifiche" />
		</client>

		<bindings>
			<netNamedPipeBinding>
				<binding name="pipeBinding" maxBufferPoolSize="5242880" maxBufferSize="655360" maxReceivedMessageSize="655360">
					<readerQuotas maxDepth="320" maxStringContentLength="81920" maxArrayLength="163840" maxBytesPerRead="40960" maxNameTableCharCount="163840" />
				</binding>
			</netNamedPipeBinding>

			<basicHttpBinding>
				<!-- Client SAC consumati-->
				<binding name="ClientSacBasicHttpBinding" maxBufferPoolSize="52428800" maxBufferSize="6553600" maxReceivedMessageSize="6553600">
					<readerQuotas maxDepth="320" maxStringContentLength="819200" maxArrayLength="1638400" maxBytesPerRead="409600" maxNameTableCharCount="1638400" />
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Windows" />
					</security>
				</binding>

				<!-- Server pubblicato per debug-->
				<!--<binding name="ServerBasicBinding" maxBufferPoolSize="524288000" maxBufferSize="65536000" maxReceivedMessageSize="65536000">
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Windows"/>
					</security>
				</binding>-->

			</basicHttpBinding>
		</bindings>

		<services>
			<service behaviorConfiguration="OE.Wcf.BtDataAccess.Behavior" name="OE.Wcf.BtDataAccess.Richiesta">
				<clear />
				<endpoint address="mex" binding="mexHttpBinding" name="mexRichiesta" contract="IMetadataExchange" listenUriMode="Explicit">
				</endpoint>

				<endpoint address="" binding="netNamedPipeBinding" bindingConfiguration="pipeBinding" name="pipeRichiesta" bindingNamespace="http://schemas.progel.it/OE/WCF/DataAccess/Richiesta" contract="OE.Wcf.BtDataAccess.IRichiesta" listenUriMode="Explicit">
				</endpoint>

        <!-- Server pubblicato per debug-->
				<!--<endpoint address="" binding="basicHttpBinding" bindingConfiguration="ServerBasicBinding" name="httpRichiesta"
                  bindingNamespace="http://schemas.progel.it/OE/WCF/DataAccess/Richiesta" contract="OE.Wcf.BtDataAccess.IRichiesta" listenUriMode="Explicit">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>-->
        
				<host>
					<baseAddresses>
						<add baseAddress="net.pipe://localhost/oeDataAccess/richiesta" />
						<add baseAddress="http://localhost/oeDataAccess/richiesta" />
					</baseAddresses>
				</host>
			</service>

			<service behaviorConfiguration="OE.Wcf.BtDataAccess.Behavior" name="OE.Wcf.BtDataAccess.Stato">
				<clear />

				<endpoint address="mex" binding="mexHttpBinding" name="mexStato" contract="IMetadataExchange" listenUriMode="Explicit">
				</endpoint>

				<endpoint address="" binding="netNamedPipeBinding" bindingConfiguration="pipeBinding" name="pipeStato" bindingNamespace="http://schemas.progel.it/OE/WCF/DataAccess/Stato" contract="OE.Wcf.BtDataAccess.IStato" listenUriMode="Explicit">
				</endpoint>

         <!-- Server pubblicato per debug-->
				<!--<endpoint address="" binding="basicHttpBinding" bindingConfiguration="ServerBasicBinding" name="httpStato"
                  bindingNamespace="http://schemas.progel.it/OE/WCF/DataAccess/Stato" contract="OE.Wcf.BtDataAccess.IStato" listenUriMode="Explicit">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>-->       
          
				<host>
					<baseAddresses>
						<add baseAddress="net.pipe://localhost/oeDataAccess/stato" />
						<add baseAddress="http://localhost/oeDataAccess/stato" />
					</baseAddresses>
				</host>
			</service>

			<service behaviorConfiguration="OE.Wcf.BtDataAccess.Behavior" name="OE.Wcf.BtDataAccess.Ordine">
				<clear />

				<endpoint address="mex" binding="mexHttpBinding" name="mexOrdine" contract="IMetadataExchange" listenUriMode="Explicit">
				</endpoint>

				<endpoint address="" binding="netNamedPipeBinding" bindingConfiguration="pipeBinding" name="pipeOrdine" bindingNamespace="http://schemas.progel.it/OE/WCF/DataAccess/Ordine" contract="OE.Wcf.BtDataAccess.IOrdine" listenUriMode="Explicit">
				</endpoint>

				<!-- Server pubblicato per debug-->
				<!--<endpoint address="" binding="basicHttpBinding" bindingConfiguration="ServerBasicBinding" name="httpOrdine"
                  bindingNamespace="http://schemas.progel.it/OE/WCF/DataAccess/Ordine" contract="OE.Wcf.BtDataAccess.IOrdine" listenUriMode="Explicit">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>-->

				<host>
					<baseAddresses>
						<add baseAddress="net.pipe://localhost/oeDataAccess/Ordine" />
						<add baseAddress="http://localhost/oeDataAccess/Ordine" />
					</baseAddresses>
				</host>
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="OE.Wcf.BtDataAccess.Behavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

  <applicationSettings>
    <OE.Wcf.BtDataAccess.My.MySettings>
      <setting name="LogSource" serializeAs="String">
        <value>OE.Wcf.BtDataAccess</value>
      </setting>
      <setting name="LogInformation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogWarning" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogError" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogTrace" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoSyncPrestazioni" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoSyncSistemiEroganti" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoSyncSistemiRichiedenti" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoSyncUnitaOperative" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WaitAfterTimeout" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="WaitAfterDeadlocked" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="RetryCount" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="WaitAfterNetError" serializeAs="String">
        <value>60000</value>
      </setting>
      <setting name="AutoSyncUtentiDelegati" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WsUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="WsPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="WsDomain" serializeAs="String">
        <value />
      </setting>
      <setting name="TranscodificaAttiva" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>Password=User4deV;Persist Security Info=True;User ID=OE_BT_DA;Initial Catalog=AuslAsmnRe_OrderEntry;Data Source=ALDERAAN;Application Name=OE.Msg.DataAccess</value>
      </setting>
      <setting name="IgnoraRegimeVuoto" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InstrumentationKey" serializeAs="String">
        <value>47f2a002-85e4-4b5b-af93-bb848e0c7a4a</value>
      </setting>
      <setting name="AppInsightsEventLog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AppInsightsTrace" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AppInsightsDependecyMinDuration" serializeAs="String">
        <value>0</value>
      </setting>
    </OE.Wcf.BtDataAccess.My.MySettings>
  </applicationSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.TelemetryCorrelation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8.0" newVersion="1.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
