html, body {
    font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px;
    color: #3E3E3E;
    background-color: white;
    border: 0px;
}

/*Toglie il margin-bottom di tutte le tabelle.*/
table {
    margin-bottom: 0px !important;
}


/*---------------------------------------------------------------------
	Master Page
---------------------------------------------------------------------*/

.PageHeader {
    vertical-align: top;
    display: block;
    height: 72px;
    width: 100%;
    text-align: center;
}

.TopContent {
    background-color: #CEDCD5;
    border-bottom: solid 1px #4682B4;
    border-top: solid 1px #4682B4;
    height: 21px;
    display: block;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    background: #CEDCD5; /* For browsers that do not support gradients */
    filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#FFFFFF', startColorstr='#CEDCD5', gradientType='0');
    background: linear-gradient(to bottom, #CEDCD5, #FFFFFF); /* Standard syntax */
}

.LeftContent {
    margin-top: 5px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.PageContent {
    margin-top: 5px;
}


/*---------------------------------------------------------------------
	Master Menu
---------------------------------------------------------------------*/

.MasterMenu {
    font-size: 11px;
    font-family: Verdana, Arial, Helvetica;
    text-decoration: none;
    padding-right: 2px;
    padding-left: 2px;
}

    .MasterMenu li {
        margin-left: 6px;
        margin-right: 11px;
    }

.MasterMenuItem {
    color: #4682B4;
    font-weight: bolder;
    text-decoration: none;
}

/*---------------------------------------------------------------------
	TreeView spalla sinistra in Master Page
---------------------------------------------------------------------*/

.TreeNode {
    border-radius: 4px !important;
}

    .TreeNode a {
        padding: 5px 15px !important;
        text-decoration: none !important;
        color: #3e3e3e;
    }

.TreeParentNode {
    font-weight: 800 !important;
    margin-top: 10px;
}

.TreeSelectedNode {
    font-weight: 800;
}

    .TreeSelectedNode a {
        padding: 5px 15px !important;
        text-decoration: none !important;
        color: black;
    }


/*---------------------------------------------------------------------
	Pagina List.aspx
---------------------------------------------------------------------*/
/* Toglie i padding degli elementi all'interno delle tabelle. */
.table-custom-padding .form-control-static {
    padding: 0px !important;
    min-height: 1px !important;
}

/*---------------------------------------------------------------------
	Controlli in stile bootstrap aggiuntivi
---------------------------------------------------------------------*/
.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }



/*

    Classi per lo stiile grafico da Template Mockup!!!!

*/

.div-bianco {
    background: white;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #c8c8c8;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.div-grigio {
    background: #f1f1f1;
    border: 1px solid rgba(146, 146, 146, 0.55);
    border-radius: 5px;
    margin: 15px 0;
    padding: 10px 18px 5px 18px;
    /*Aggiustamento per questo portale!*/
    float: left;
    width:100%;
}

.page-title {
    margin-top: 5px;
}

.font-weight-bold {
    font-weight: bold;
}

.btn-100 {
    width: 100px;
    margin-bottom: 5px;
}

.btn-120 {
    width: 120px;
    margin-bottom: 5px;
}

/*usato solo in BTN Importa da Excel...*/
.btn-130 {
    width: 130px;
    margin-bottom: 5px;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

    .btn-secondary:hover {
        color: #fff;
        background-color: #5a6268;
        border-color: #545b62;
    }

.dropdown-submenu {
    margin-bottom:2px;
    padding: 12px 12px !important;
    border-radius:2px;
}

