<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog"
           type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           initializeData="FileLogWriter"/>
    </sharedListeners>
  </system.diagnostics>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        
        <!-- Client SAC consumati-->
        <binding name="ClientSacBasicHttpBinding" maxBufferPoolSize="52428800" maxBufferSize="6553600" maxReceivedMessageSize="6553600">
          <readerQuotas maxDepth="320" maxStringContentLength="819200" maxArrayLength="1638400" maxBytesPerRead="409600" maxNameTableCharCount="1638400"/>
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
        
      </basicHttpBinding>
    </bindings>
    
	  <client>
		  <!-- Client SAC consumati-->
		  <endpoint address="http://dagobah2.progel.org:8082/WS-DI-SAC-3/SAC.Wcf.Service.Transcodifiche.svc"
                binding="basicHttpBinding"
                bindingConfiguration="ClientSacBasicHttpBinding"
                contract="SAC.Transcodifiche.ITranscodifiche"
                name="SacITranscodifiche"/>

	  </client>
  </system.serviceModel>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
