<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<staticContent>
			<!-- Contenuti statici: imposto una validità di un minuto, dopo di che il browser chiederà 
			     al server se la risorsa è stata modificata -->
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:01:00" />			
		</staticContent>
	</system.webServer>
</configuration>
