body
{
	font-size: 11px;
	margin: 0px;
	color: #3E3E3E;
	background-color: white;
	font-family: 'Verdana, Arial, Helvetica';
	border: 0px;
}

table
{
	font-size: 11px;
	color: #3E3E3E;	
}

h1, h2
{
	color: #4682B4;
}

h3, h4
{
	text-transform: uppercase;
	color: #4682B4;
}

a
{
	color: #4682B4;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

a img
{
	border: 0px;
}

a img:hover
{
	/*background-color: transparent !important;*/
}

.PageContent a
{
	padding: 0px 2px;
}

.ordineRefresh
{
	position: relative;
	left: 1px;
	top: 2px;
	margin: 0px;
	padding: 0px;
	width: 12px;
	height: 12px;
}

.gridWhiteSpaceHeader
{
	background-color: white;
	filter: none !important;
	width: 16px;
	border-top: 0px !important;
	border-bottom: 0px !important;
}

.loaderDiv
{
	background-color: White;
	color: Black;
	border: 1px solid silver;
	overflow: hidden;
	position: absolute; /*padding: 3px 4px;*/
	width: 450px;
	height: 400px;
	color: #000;
	display: none;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.loaderDivTitle
{
	/*background-color: Black; 	color: White;*/
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	margin: 2px 0px 5px 0px;
	padding: 0px 2px;
	cursor: move;
}

.loaderContainer
{
	margin: 2px 1px;
	padding: 0px 2px 3px 2px;
	height: 367px;
	overflow: auto;
	width: 444px;
}

.resize-helper
{
	border: 2px dotted black;	
}

.closeButton
{
	background: url(../Images/close.png);
	background-position: 0px 0px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.closeButtonHover
{
	background-position: 16px 0px;
}

.filters
{
	float: left;
	padding: 3px;
	margin: 5px;
	width: 190px;
	height: 90px;
}

.xmlContainer
{
	display: none;
}

fieldset div
{
	margin: 4px 4px;
	width: 100%;
}

.NoRequiredField
{
	display: none;
	margin: 2px 4px;
	padding: 0px;
	zoom: 0 !important; /*usato per aggiustare l'effetto di padding dopo il toggle, solo in IE*/
}

hr
{
	border: black solid;
	height: 1px;
}

.separator
{
	clear: both;
}

span
{
}

input
{
	color: black;
	background: white;
	border: 1px solid #AEAEAE;
	margin: 0px;
}
.inputHover
{
	border: 1px solid black;
}

textarea
{
	font-family: Verdana,Arial,Helvetica;
	overflow-y: auto; /* rimuove la scrolbar verticale quando non c'è necessità */
	color: black;
	background: white;
	border: 1px solid #AEAEAE; 
	margin: 0px;
}
.textareaHover
{
    border: 1px solid black;
}

.Button
{
	width: 80px;
	cursor: pointer;
}

.ImageButton
{
	/*width: 20px;*/
	cursor: pointer;
	background-color: transparent;
}


.DateTimeInput
{
	padding: 0px 3px;
}

.Radio input
{
	color: black;
	background: white;
	border: 0px solid #AEAEAE;
}
/*
select
{
   color: black;
    background: white;
    border-width: 1px;
    border-color: #AEAEAE; 
}*/

.IconError
{
	font-family: Webdings;
	font-size: 14px;
}

.Error
{
	color: red;
	font-weight: bold;
	font-size: 11px;
	margin: 7px;
	display: block;
}

.Message
{
	color: #4682B4;
	font-size: 11px;
}

.Title
{
	font-weight: normal;
	font-size: 14px;
	color: #4682B4;
	display: block;
	padding-left: 6px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.ModuleContent
{
	/* 		ATTENZIONE: inserendo padding o margin top i moduli con dimensioni 		al 100% vengono troncati. 	*/
	height: 100%;
	overflow: auto;
}

.IFrameContent
{
	width: 100%;
	height: 100%;
}

.NoIFrameContent
{
	border: solid 1px silver;
}

.asp_button /* da usare nei button HTML per avere la stessa grafica degli ASP:Button */
{
	color: black;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-top-color: #cedcd5;
	border-right-color: #cedcd5;
	border-bottom-color: #cedcd5;
	border-left-color: #cedcd5;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	background-image: none;
	background-attachment: scroll;
	background-repeat: repeat;
	background-position-x: 0%;
	background-position-y: 0%;
	background-color: white;
	width: 100px;
}
.asp_button:hover
{
	border: 1px solid black;
}

/*
---------------------------------------------------------------------
	Pagina Error e Warning
---------------------------------------------------------------------
*/

.PageErrorContainer
{
	color: red;
	vertical-align: middle;
	text-align: center;
}

.PageWarningContainer
{
	vertical-align: middle;
	text-align: center;
}

/*
---------------------------------------------------------------------
	Form Control Width
---------------------------------------------------------------------
*/

.InputDate
{
	width: 80px;
}

.InputFlag
{
	width: 20px;
}

.Input16
{
	width: 150px;
}

.Input64
{
	width: 250px;
}

.Input128
{
	width: 550px;
}


/*---------------------------------------------------------------------
	Table per pagine di dettaglio del tipo  ->  | Campo | Valore    |
---------------------------------------------------------------------*/
.table_dettagli
{
	border-spacing: 0px;
	border-collapse: collapse;
}
.table_dettagli td, th
{
	padding: 1px 5px 1px 5px;
}
.table_dettagli tr
{
	height: 30px;
}
/*  td footer per contenere i pulsanti  */
.table_dettagli td.LeftFooter
{
	padding: 30px 0px 30px 5px;
}
.table_dettagli td.RightFooter
{
	padding: 30px 5px 30px 0px;
	text-align: right;
}
.Td-Text
{
	border-style: solid;
	border-width: 1px 0px 1px 0px;
	border-color: #E08D53;
}
.Td-Text2
{
	border-style: solid;
	border-width: 1px 0px 1px 0px;
	border-color: #E08D53;
}
.Td-Value
{
	border-style: solid;
	border-width: 1px 0px 1px 0px;
	border-color: #E08D53;
	background-color: #FFEA93;
	font-weight: bold;
	max-height: 100%;
}
.Td-Value2
{
	border-style: solid;
	border-width: 1px 0px 1px 0px;
	border-color: #E08D53;
	background-color: #FFEA93;
	font-weight: bold;
	max-height: 100%;
}


/*---------------------------------------------------------------------
	Table per contenere i pulsanti
---------------------------------------------------------------------*/
.table_pulsanti
{
	border-spacing: 0px;
	border-collapse: collapse;
}
.table_pulsanti td.Left
{
	padding: 20px 0px 20px 5px;
}
.table_pulsanti td.Right
{
	padding: 20px 5px 20px 0px;
	text-align: right;
}
/*---------------------------------------------------------------------*/


.Td-Text_Gray
{
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: #808080;
}
.Td-Text_Gray2
{
	border-style: solid;
	border-width: 1px 0px 1px 0px;
	border-color: #808080;
}
.Td-Value_Gray
{
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: #808080;
	background-color: #DDDDDD;
}
.Td-Value_Gray2
{
	border-style: solid;
	border-width: 1px 0px 1px 0px;
	border-color: #808080;
	background-color: #DDDDDD;
}
/*
---------------------------------------------------------------------
	End Form Control Width
---------------------------------------------------------------------
*/

.LabelReadOnly
{
	font-weight: bold;
}

/*
---------------------------------------------------------------------
	Diagramma fusione pazienti
---------------------------------------------------------------------
*/
.DiagramRoot
{
	border: 2px solid #009900;
	width: 230;
	height: 60;
}

.DiagramChild
{
	border: 1px solid #E08D53;
	width: 230px;
	height: 80px;
	padding: 3px;
}
/*
---------------------------------------------------------------------
	End Diagramma fusione pazienti
---------------------------------------------------------------------
*/


/*
---------------------------------------------------------------------
	Pagina Master
---------------------------------------------------------------------
*/

.PageHeader
{
	vertical-align: top;
	height: 10px;
}

.TopContent
{
	background-color: #CEDCD5;
	border-bottom: solid 1px #4682B4;
	border-top: solid 1px #4682B4;
	height: 10px;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px; /*gradient*/
	filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#FFFFFF', startColorstr='#CEDCD5', gradientType='0');
}

.PageContent
{
	padding: 6px;
	text-align: left;
	vertical-align: top;
	width: 100%;
	height: 100%;
}

.LeftContent
{
	padding: 3px 3px 0px 3px;
	width: 150px;
	height: 100%;
	background-color: #2A7652;
	border-right: solid 1px #4682B4; /*gradient*/
	filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#C0E9D6', startColorstr='#2A7652', gradientType='1');
}

.PageFooter
{
	color: #4682B4;
	background-color: #CEDCD5;
	border-top: solid 1px #4682B4;
	height: 10px;
	padding: 2px;
	text-align: center;
	font-size: 10px; /*gradient*/
	filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#FFFFFF', startColorstr='#CEDCD5', gradientType='0');
}

/*
---------------------------------------------------------------------
	Master Menu
---------------------------------------------------------------------
*/

.MasterMenu
{
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica;
	text-decoration: none;
	padding-right: 2px;
	padding-left: 2px;
}

.MasterMenuItem {
	margin-left: 6px;
	margin-right: 7px;
	color: #4682B4;
	font-weight: bolder;
	text-decoration: none;
}


.MasterMenuHover
{
	/*color: #CEDCD5; 	background-color: #4682B4;*/
	text-decoration: none;
}

.MasterMenuSelected
{
	/*color: #CEDCD5;     background-color: #4682B4;*/
	color: #808080;
	text-decoration: none;
}

.MasterMenuDynamic
{
	background-color: white;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica;
	text-decoration: none;
	width: 80px;
	padding: 2px;
	margin: 1px;
	border: black 1px solid;
}

.MasterMenuDynamicItem
{
	/*     color: #CEDCD5;     font-weight: bolder;    	text-decoration: none; 	*/
	color: Black; /*gradient*/
	filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#FFFFFF', startColorstr='#CEDCD5', gradientType='0');
}

.MasterMenuDynamicHover
{
	color: Black;
	background-color: #CEDCD5;
	text-decoration: none;
}

.MasterMenuDynamicSelected
{
	/*     color: White;     background-color: #CEDCD5;     font-weight: bolder;     text-decoration: none; 	*/
	color: Black; /*gradient*/
	filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#FFFFFF', startColorstr='#CEDCD5', gradientType='0');
}

/*
---------------------------------------------------------------------
	End Master Menu
---------------------------------------------------------------------
*/

/*
---------------------------------------------------------------------
	Start Master Tree
---------------------------------------------------------------------
*/

.TreeNode
{
	font-size: 11px !important;
	text-decoration: none;
	padding-right: 2px;
	padding-left: 2px;
}

.TreeParentNode, .TreeRootNode
{
	color: #FFFFFF;
	font-weight: bolder;
	font-style: italic;
}

.TreeLeafNode
{
	color: #FFFFFF;
	font-weight: bolder;
}

.TreeHoverNode
{
	text-decoration: none !important;
	background-color: #E6EEE6;
	color: Black;
}

.TreeSelectedNode
{
	/*color: #2A7652;     background-color: #FFFFFF; 	border: 1px solid #000000;*/
	font-size: 11px;
	text-decoration: none;
	color: Black; /*gradient*/
	filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#FFFFFF', startColorstr='#FFEDA4', gradientType='0');
}
/*
---------------------------------------------------------------------
	End Master Tree
---------------------------------------------------------------------
*/

/*
---------------------------------------------------------------------
	Start Master Navigator
---------------------------------------------------------------------
*/

.Navigator
{
	font-weight: bolder;
	font-size: 10px;
	padding-right: 2px;
	padding-left: 2px;
	text-decoration: none;
}

.Navigator:hover
{
	color: #4682B4;
	font-weight: bolder;
	font-size: 10px;
	padding-right: 2px;
	padding-left: 2px;
	text-decoration: none;
}

.NavigatorCurrentNode
{
	/*color: White;     background-color: #4682B4;*/
	color: #A4A4A4;
	text-decoration: none;
}

.NavigatorNode
{
	color: #4682B4;
	text-decoration: none;
}

.NavigatorPathSeparator
{
	/*color: #4682B4;*/
	color: #808080;
	text-decoration: none;
}

.NavigatorRootNode
{
	/*color: #4682B4;*/
	color: #808080;
	text-decoration: none;
}


/*
---------------------------------------------------------------------
	End Master Navigator
---------------------------------------------------------------------
*/


/*
---------------------------------------------------------------------
	Griglie di dati (sfondo grigio)
---------------------------------------------------------------------
*/

.Grid
{
	color: black;
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	border: 1px solid #c0c0c0;
	text-align: center;
	border-collapse: collapse;
}

.Grid caption
{
	filter: none;
	background-color: #CEDCD5;
	padding: 2px 0px;
	font-weight: bold;
	border: 1px solid #c0c0c0;
	font-size: 15px;
	color: Black;
}

.GridHeader, .Grid th, .Grid thead, .GridHeader a, .GridHeader a:link, .GridHeader a:visited, .GridHeader a:active
{
	filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#FFFFFF', startColorstr='#CEDCD5', gradientType='0');
	padding: 1px 2px;
	color: #4682b4;
}

.GridHeaderSortAsc a
{
	color: Red !important;
}

.GridHeaderSortDesc a
{
	color: Red !important;
}

.GridHeader a:hover
{
	text-decoration: underline;
}

.GridItem, .GridItem td a, .Grid tr
{
	color: black;
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
}

.GridItem a:link, .GridItem a:visited, .GridItem a:active
{
	color: #4682b4;
}

.GridItem a:hover
{
	text-decoration: underline;
}

.GridAlternatingItem
{
	color: black;
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	background-color: #EFEFEF;
}

.GridAlternatingItem a:link, .GridAlternatingItem a:visited, .GridAlternatingItem a:active
{
	color: #4682b4;
}

.GridPager /* barre di paginazione */
{
	text-align: center;
}
.GridPager td /* tutti i quadratini  pagina */
{
	padding: 1px;
}
.GridPager a /* numeri di pagina non selezionati */
{
	/*background-color: #EEEEEE;*/ /*border: 1px solid #EEEEEE;*/
	padding: 2px 14px 2px 14px;
	text-decoration: none;
	font-weight: normal;
	color: black;
}
.GridPager a:hover /* numeri di pagina non selezionati hover */
{
	/*background-color: #FFF8DA; border: 1px solid silver;*/
	background-color: #F0F0F0; /*border: 1px solid silver;*/
	text-decoration: underline;
	color: black;
}
.GridPager span /* numero di pagina selezionata */
{
	/*background-color: #FFF3C1; border: 1px solid #ffcc00;*/
	background-color: 	#F0F0F0; /*border: 1px solid #ffcc00;*/
	padding: 2px 14px 2px 14px;
	color: black;
	font-weight: bold;
}


/*-------------------------------------------------------------------
	End 
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
	Griglie sfondo giallo
-------------------------------------------------------------------*/

.GridYellow
{
	border-style: solid;
	border-color: white;
	border-bottom-color: #A0A0A0;
	border-bottom-style: solid;
}
.GridYellow Header, .GridYellow th, .GridYellow thead, .GridYellow .Header a
{
	color: Black;
	font-weight: bold;
	text-align: left;
	margin-left: -4px;
	padding-left: 4px;
}
.GridYellow td
{
	padding: 4px;
}
.GridYellow .AlternatingRow /* sfondo alternato */
{
	background-color: #FFF3C1;
}
.GridYellow .Pager /* barre di paginazione */
{
	text-align: center;
}
.GridYellow .Pager td /* tutti i quadratini  pagina */
{
	padding: 1px;
}
.GridYellow .Pager a /* numeri di pagina non selezionati */
{
	/*background-color: #EEEEEE;*/ /*border: 1px solid #EEEEEE;*/
	padding: 2px 14px 2px 14px;
	text-decoration: none;
	font-weight: normal;
	color: black;
}
.GridYellow .Pager a:hover /* numeri di pagina non selezionati hover */
{
	/*background-color: #FFF8DA; border: 1px solid silver;*/
	background-color: #F0F0F0; /*border: 1px solid silver;*/
	text-decoration: underline;
	color: black;
}
.GridYellow .Pager span /* numero di pagina selezionata */
{
	/*background-color: #FFF3C1; border: 1px solid #ffcc00;*/
	background-color: 	#F0F0F0; /*border: 1px solid #ffcc00;*/
	padding: 2px 14px 2px 14px;
	color: black;
	font-weight: bold;
}


/*-------------------------------------------------------------------
	End Griglie di dati (sfondo giallo)
-------------------------------------------------------------------*/

/*
---------------------------------------------------------------------
	Tab
---------------------------------------------------------------------
*/

.DefaultView
{
	color: #FFFFFF;
	background-color: #AEAEAE;
	border-width: 0px;
	width: 129px;
	height: 30px;
	font-size: 11px; /*gradient*/
	filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#C0E9D6', startColorstr='#2A7652', gradientType='0');
	cursor: pointer;
}

.ActiveView
{
	background-color: #90B8A4;
	color: #000000;
	border-width: 0px;
	width: 129px;
	height: 30px;
	font-size: 12px; /*gradient*/
	filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#FFFFFF', startColorstr='#FFF2BF', gradientType='0');
}

.TabSeparator
{
	background-color: #90B8A4;
}

.TabButton
{
	width: 100px; /*height: 19px;*/
	margin-left: 5px;
	margin-right: 5px;
}

legend
{
	font-size: 11px;
	font-weight: bold;
	font-style: italic;
}
/*---------------------------------------------------------------------
	End Tab
---------------------------------------------------------------------*/

/*---------------------------------------------------------------------
      TOOLBAR
---------------------------------------------------------------------*/
.toolbar
{
	border: 1px solid #FFCC00;
	width: 100%;
	height: .1%; /* workaround per IE8, senza questo a volte non compare il gradient */
	/*padding-left: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
*/
	padding:0px;
	filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#FFFFFF', startColorstr='#FFEDA4', gradientType='0');
}

.toolbar td /* filtri incasellati in table */
{
	padding: 1px 10px 1px 4px; /* spaziatura per le celle della table dei filtri */	
}
.toolbar-img
{
	border: 0;
	vertical-align: middle;
}
.toolbar img
{
	border: 0;
	vertical-align: middle;
}
.toolbar a /* link nelle toobar  */
{
	display:inline-block;
	margin-right:10px;
	margin-left:0px;
	padding-top:4px;
	padding-bottom:4px;
}

/*---------------------------------------------------------------------
	End Toolbar
---------------------------------------------------------------------*/


/*
---------------------------------------------------------------------
	Richiesta Dettaglio
---------------------------------------------------------------------
*/

#DatiRichiedente
{
	float: left;
	width: 673px;
	text-align: center;
	border: 1px solid #c0c0c0;
	border-bottom-width: 0px;
	border-left-width: 0px;
	padding: 3px 0px;
	filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#FFFFFF', startColorstr='#CEDCD5', gradientType='0');
}

#DatiErogante
{
	margin-left: 12px;
	float: left;
	width: 564px;
	text-align: center;
	border: 1px solid #c0c0c0;
	border-bottom-width: 0px;
	padding: 3px 0px;
	filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#FFFFFF', startColorstr='#CEDCD5', gradientType='0');
}

.noFilter
{
	filter: none;
}

/*
---------------------------------------------------------------------
	End Richiesta Dettaglio
---------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------
	Classe da usare per i dettagli (per ora uguale alla classe "toolbar")
---------------------------------------------------------------------
*/
.detail
{
	border: 1px solid #FFCC00;
	padding: 5px;
	filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#FFFFFF', startColorstr='#FFEDA4', gradientType='0');
}

/*
---------------------------------------------------------------------
	End Classe da usare per i dettagli
---------------------------------------------------------------------
*/



/*---------------------------------------------------------------------
	Classi per simulare un pop-up
---------------------------------------------------------------------*/
div.screenMask
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 150%;
	height: 150%;
	z-index: 1001;
	background-color: #000000;
	background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
	opacity: .30;
	filter: Alpha(Opacity=30);
}

div.pseudo-popup
{
	position: absolute;	
	border: 3px solid #a6c9e2;
	background-color: white;
	padding: 8px;
	margin: 30px;
	overflow: auto;
	z-index: 1003;
}


/*---------------------------------------------------------------------
	End Classi per simulare un pop-up
---------------------------------------------------------------------*/

.text-nowrap{
    white-space:nowrap;
    display:inline
}