<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DwhClinico.Web.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DwhClinico.Web.My.MySettings.SAC_ConnectionString"
      connectionString="Data Source=ALDERAAN;Initial Catalog=AuslAsmnre_SAC;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <!-- ALDERAAN - DB PARTIZIONATO -->
    <add key="sqlconnMain.ConnectionString" value="data source=ALDERAAN;initial catalog=AuslAsmnRe_DwhClinicoV3;User Id=DEV_VS;Password=User4deV;persist security info=True;packet size=4096;" />
    <add key="EventLog.Application" value="DwhClinico Front-End" />
    <add key="EventLog.Information" value="true" />
    <add key="EventLog.Warning" value="true" />
    <add key="EventLog.Error" value="true" />
    <add key="DiPortalUser.ConnectionString" value="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=AuslAsmnRe_DiUserPortal;Data Source=ALDERAAN" />
  </appSettings>
  <system.web>
    <compilation defaultLanguage="vb" debug="true" strict="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Printing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <customErrors mode="RemoteOnly" defaultRedirect="ErrorUnknown.htm">
      <error statusCode="403" redirect="AccessDenied.htm" />
      <error statusCode="404" redirect="MissingResource.htm" />
    </customErrors>
    <authentication mode="Windows" />
    <authorization>
      <allow roles="progel.it\DevAccesso_DI_FrontEnd" />
      <deny users="?" />
      <!-- In PRODUZIONE c'è OSPEDALE\DWH_FrontEndAsmn o OSPEDALE\DWH_FrontEndAusl -->
      <deny users="*" />
    </authorization>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="it-IT" />
    <!--
    Questa causa full postback con UpdatePanel AJAX
    <xhtmlConformance mode="Legacy"/>
    -->
    <xhtmlConformance mode="Strict" />
    <!--<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">-->
    <pages clientIDMode="AutoID">
      <namespaces>
        <add namespace="Microsoft.VisualBasic" />
        <add namespace="System.Data" />
        <add namespace="System.Drawing" />
      </namespaces>
    </pages>
    <!-- NECESSARIO PER ABILITARE IL TRIMMING DEI NODI DEL SITE MAP -->
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider" description="Default SiteMap provider." type="System.Web.XmlSiteMapProvider " siteMapFile="Web.sitemap" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <location path="Images">
    <system.web>
      <authorization>
        <!-- Accesso anche all'anonimo -->
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <!-- PER IL TRIMMING DEL NODO Pazienti DEL SITEMAP -->
  <location path="Pazienti/Pazienti.aspx">
    <system.web>
      <authorization>
        <allow roles="ATTRIB@PAZ_VIEW_ALL" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ConsensiSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="RenderingPdfSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="Ver1Soap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="PazientiSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <!-- Binding nuovo servizio WCF del DwhClinico -->
        <binding name="BasicHttpEndpoint" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>  
        <binding name="BasicHttpBinding_IRoleManager" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ITwoWayAsync" closeTimeout="00:00:10" openTimeout="00:00:10" receiveTimeout="00:00:10" sendTimeout="00:00:10" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <!--
          <security mode="Transport">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
          </security>
          -->
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <!--<message clientCredentialType="Windows" negotiateServiceCredential="true" establishSecurityContext="true" />-->
          </security>
        </binding>
      </wsHttpBinding>
      
    </bindings>
    <client>
      <endpoint address="http://dagobah2:8082/WS-DI-SAC-2/Consensi.asmx" binding="basicHttpBinding" bindingConfiguration="ConsensiSoap" contract="SacConsensiDataAccess.ConsensiSoap" name="ConsensiSoap" />
      <endpoint address="http://dagobah2:8044/WS-DI-DWH-PDF/RenderingPdf.asmx" binding="basicHttpBinding" bindingConfiguration="RenderingPdfSoap" contract="WsRenderingPdf.RenderingPdfSoap" name="RenderingPdfSoap" />
      <endpoint address="http://dagobah2.progel.org/ASMN/PrintManager/Ws/Ver1.asmx" binding="basicHttpBinding" bindingConfiguration="Ver1Soap" contract="WsPrintManager.Ver1Soap" name="Ver1Soap" />
      <endpoint address="http://dagobah2:8082/WS-DI-SAC-2/Pazienti.asmx" binding="basicHttpBinding" bindingConfiguration="PazientiSoap" contract="SacPazientiDataAccess.PazientiSoap" name="PazientiSoap" />
      <endpoint address="https://endor2.progel.org:8910/Sole.DwhClinico.PatientSummary/SOLE.Wcf.BtDataAccess.PatientSummary.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsync" contract="WcfPatientSummary.SOLEWcfBtDataAccessPatientSummary" name="WSHttpBinding_ITwoWayAsync">
        <identity>
          <userPrincipalName value="DevBizTalkService@PROGEL.ORG" />
        </identity>
      </endpoint>
      <!-- Endpoint del servizio WCF del DwhClinico -->
      <endpoint address="http://dagobah2.progel.org:8044/WS-DI-DWH-3/DwhClinico.WebService.Wcf.Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpoint" contract="WcfDwhClinico.IService" name="BasicHttpEndpoint" />
      <endpoint address="http://dagobah2.progel.org:8082/WS-DI-SAC-3/SAC.Wcf.Service.RoleManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoleManager" contract="WcfSacRoleManager.IRoleManager" name="BasicHttpBinding_IRoleManager" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <applicationSettings>
    <DwhClinico.Web.My.MySettings>
      <setting name="UrlPortaleCLinico" serializeAs="String">
        <value>https://portaleclinico.asmn.re.it</value>
      </setting>
      <setting name="WsPatientSummaryUser" serializeAs="String">
        <value>progel.it\dev_vs</value>
      </setting>
      <setting name="WsPatientSummaryPassword" serializeAs="String">
        <value>aa1234BB</value>
      </setting>
      <setting name="PatientSummaryEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WcfDwhClinico_User" serializeAs="String">
        <value>progel.it\dev_vs</value>
      </setting>
      <setting name="WcfDwhClinico_Password" serializeAs="String">
        <value>aa1234BB</value>
      </setting>
      <setting name="DatiAutenteAutorizzatore_Titolo" serializeAs="String">
        <value>RILEVAZIONE CONSENSO MINORE&lt;br/&gt;Inserire le generalità del Genitore/Tutore Legale</value>
      </setting>
      <setting name="ApreReferto_DefaultView" serializeAs="String">
        <value>~/Reporting/Reports/RefertoDettaglio.aspx?@@FLD@@@IdRefertiBase=@Id_Referto</value>
      </setting>
      <setting name="Referti_Link" serializeAs="String">
        <value>~/Reporting/Reports/GroupListaReferti.aspx?@@FLD@@@IdPaziente=@Id_Paziente</value>
      </setting>
      <setting name="Role_Delete" serializeAs="String">
        <value>Progel.it\sviluppo</value>
      </setting>
      <setting name="ButtonAggiungiNota_Visible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SacDataAccess_User" serializeAs="String">
        <value>PROGEL.IT\DEV_VS</value>
      </setting>
      <setting name="SacDataAccess_Password" serializeAs="String">
        <value>aa1234BB</value>
      </setting>
      <setting name="Printing_PageUrl" serializeAs="String">
        <value>http://DAGOBAH2:8044/WS-DI-DWH-PDF/StampaReferto.aspx</value>
      </setting>
      <setting name="Printing_ShowGeneraPDF" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="WsPrintManager_User" serializeAs="String">
        <value />
      </setting>
      <setting name="WsPrintManager_Password" serializeAs="String">
        <value />
      </setting>
      <setting name="WsRenderingPdf_User" serializeAs="String">
        <value>PROGEL.IT\DevApp_DWH_RenderPdf</value>
      </setting>
      <setting name="WsRenderingPdf_Password" serializeAs="String">
        <value>aa1234BB</value>
      </setting>
      <setting name="Referti_FiltroDataDal_DefaultDaysBeforeNow" serializeAs="String">
        <value>365</value>
      </setting>
      <setting name="WsRenderingPdf_UrlDettaglioReferto" serializeAs="String">
        <value>http://DAGOBAH2:8087/DWHCLINICO/Referti/ApreReferto.aspx?IdReferto={0}</value>
      </setting>
      <setting name="StampaReferti_UiStampeRefreshInterval_Ms" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="RefertiOpenDocument_Role" serializeAs="String">
        <value>Progel.it\sviluppo</value>
      </setting>
      <setting name="RefertiOpenDocument_Text" serializeAs="String">
        <value>Apri Documento</value>
      </setting>
      <setting name="ListaAccessiPaziente_Visible" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="UrlSacPaziente" serializeAs="String">
        <value>http://DAGOBAH2:8087/SAC/Pazienti/PazienteDettaglio.aspx?id={0}</value>
      </setting>
      <setting name="Messaggio_WarningPrivacy" serializeAs="String">
        <value>
          Siete entrati in un archivio di dati sensibili, tutelati e protetti dalla Legge sulla privacy. Qualsiasi violazione e uso ingiustificato o improprio può configurare un illecito disciplinare, civile o penale. Gli accessi vengono periodicamente monitorati.&amp;#xA;
          Il DataWareHouse Clinico costituisce un archivio potenzialmente INCOMPLETO dei dati sanitari del paziente. Alcune informazioni cliniche potrebbero non essere disponibili per motivi tecnici o per ESPLICITA RICHIESTA DI OSCURAMENTO da parte dell'assistito.
        </value>
      </setting>
      <setting name="FsePulsanteAbilitato" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FseDocumentiListaTop" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="WsSac_User" serializeAs="String">
        <value>progel.it\dev_vs</value>
      </setting>
      <setting name="WsSac_Password" serializeAs="String">
        <value>aa1234BB</value>
      </setting>
      <setting name="ShowNoteAnamnesticheTab" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MittenteMail" serializeAs="String">
        <value>DwhClinico@progel.it</value>
      </setting>
      <setting name="UrlMailLinkAccessoDiretto" serializeAs="String">
        <value>https://di-go.asmn.net/DwhClinico/{0}</value>
      </setting>
      <setting name="AziendaErogante_Visible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Print_Enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NuovaGestioneConsensi" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InstrumentationKey" serializeAs="String">
        <value>47f2a002-85e4-4b5b-af93-bb848e0c7a4a</value>
      </setting>
      <setting name="ShowCalendarioTab" serializeAs="String">
        <value>True</value>
      </setting>
    </DwhClinico.Web.My.MySettings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.DependencyCollector" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>