<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.diagnostics>
		<sources>
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information"/>
		</switches>
		<sharedListeners>
			<add name="FileLog"
           type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           initializeData="FileLogWriter"/>
		</sharedListeners>
	</system.diagnostics>
  
	<system.serviceModel>
    
		<bindings>
			<netNamedPipeBinding>
				<binding name="daeNamedPipe"
                sendTimeout="00:10:00"
                transactionProtocol="OleTransactions"
                maxBufferPoolSize="5242880"
                maxBufferSize="655360"
                maxReceivedMessageSize="655360">
          
					<readerQuotas maxDepth="320"
                        maxStringContentLength="81920"
                        maxArrayLength="163840"
                        maxBytesPerRead="40960"
                        maxNameTableCharCount="163840"/>
				</binding>
			</netNamedPipeBinding>
    
      <basicHttpBinding>
        <binding name="daeBasicHttpBinding"
                 maxBufferPoolSize="52428800"
                 maxBufferSize="6553600"
                 maxReceivedMessageSize="6553600">
          
          <readerQuotas maxDepth="320"
                        maxStringContentLength="819200"
                        maxArrayLength="1638400"
                        maxBytesPerRead="409600"
                        maxNameTableCharCount="1638400"/>
          
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
      </basicHttpBinding>    
    
		</bindings>
    
    <client>
      <!-- BINDING PIPE-->

      <endpoint address="net.pipe://localhost/oeDataAccess/richiesta"
                binding="netNamedPipeBinding"
                bindingConfiguration="daeNamedPipe"
                contract="ServiceRichiesta.IRichiesta"
                name="pipeRichiesta">
        <identity>
          <userPrincipalName value="Sandro@progel.org"/>
        </identity>
      </endpoint>
      
      <endpoint address="net.pipe://localhost/oeDataAccess/stato"
                binding="netNamedPipeBinding"
                bindingConfiguration="daeNamedPipe"
                contract="ServiceStato.IStato"
                name="pipeStato">
        <identity>
          <userPrincipalName value="Sandro@progel.org"/>
        </identity>
      </endpoint>
      
      <endpoint address="net.pipe://localhost/oeDataAccess/Ordine"
                binding="netNamedPipeBinding"
                bindingConfiguration="daeNamedPipe"
                contract="ServiceOrdine.IOrdine"
                name="pipeOrdine">
        <identity>
          <userPrincipalName value="Sandro@progel.org"/>
        </identity>
      </endpoint>

      <!-- BINDING HTTP-->
      
      <endpoint address="http://localhost/oeDataAccess/richiesta"
                binding="basicHttpBinding"
                bindingConfiguration="daeBasicHttpBinding"
                contract="ServiceRichiesta.IRichiesta"
                name="httpRichiesta">
      </endpoint>

      <endpoint address="http://localhost/oeDataAccess/stato"
                binding="basicHttpBinding"
                bindingConfiguration="daeBasicHttpBinding"
                contract="ServiceStato.IStato"
                name="httpStato">
      </endpoint>

      <endpoint address="http://localhost/oeDataAccess/Ordine"
                binding="basicHttpBinding"
                bindingConfiguration="daeBasicHttpBinding"
                contract="ServiceOrdine.IOrdine"
                name="httpOrdine">
      </endpoint>

    </client>
	</system.serviceModel>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
