<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Oe.Eroganti.Generico.ListenRichieste.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<system.web>
		<compilation debug="true" />
	</system.web>
	<!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="ListenRichiestaBasicBinding" maxBufferSize="655360"
				  maxBufferPoolSize="5242880" maxReceivedMessageSize="655360" />
			</basicHttpBinding>
		</bindings>
		<services>
			<service behaviorConfiguration="ListenRichieste.ServiceBehavior"
			  name="Oe.Eroganti.Generico.ListenRichieste.Service">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="ListenRichiestaBasicBinding"
				  bindingNamespace="http://schemas.progel.it/WCF/OE/RichiestaEroganteGenerico/1.0"
				  contract="Oe.Eroganti.Generico.ListenRichieste.IService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost/ListenRichieste/Service/" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ListenRichieste.ServiceBehavior">
					<!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="True"/>
					<!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

	<applicationSettings>
		<Oe.Eroganti.Generico.ListenRichieste.My.MySettings>
			<setting name="FolderOutput" serializeAs="String">
				<value>c:\temp</value>
			</setting>
		</Oe.Eroganti.Generico.ListenRichieste.My.MySettings>
	</applicationSettings>
</configuration>
