<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Oe.Richiedente.Generico.ListenStato.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<system.web>
		<compilation debug="true" />
	</system.web>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="ListenStatoBasicBinding" maxBufferSize="655360"
    maxBufferPoolSize="5242880" maxReceivedMessageSize="655360" />
			</basicHttpBinding>
		</bindings>
		<services>
			<service behaviorConfiguration="ListenStato.ServiceBehavior"
			 name="Oe.Richiedente.Generico.ListenStato.Service">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="ListenStatoBasicBinding"
				 bindingNamespace="http://schemas.progel.it/WCF/OE/StatoRichiedenteGenerico/1.0"
				 contract="Oe.Richiedente.Generico.ListenStato.IService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost/ListenStato/Service/" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ListenStato.ServiceBehavior">
					<serviceMetadata httpGetEnabled="True"/>
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

	<applicationSettings>
		<Oe.Richiedente.Generico.ListenStato.My.MySettings>
			<setting name="FolderOutput" serializeAs="String">
				<value>c:\temp</value>
			</setting>
		</Oe.Richiedente.Generico.ListenStato.My.MySettings>
	</applicationSettings>
</configuration>
