<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Tester.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicBindingDelServizio" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
            textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
            messageEncoding="Text">
          <readerQuotas maxDepth="320" maxStringContentLength="819200"
            maxArrayLength="1638400" maxBytesPerRead="409600" maxNameTableCharCount="1638400" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>

      <netNamedPipeBinding>
        <binding name="pipeNoteAnamnestiche" sendTimeout="00:10:00" transactionProtocol="OleTransactions" maxBufferPoolSize="5242880" maxBufferSize="655360" maxReceivedMessageSize="655360">
          <readerQuotas maxDepth="320" maxStringContentLength="81920" maxArrayLength="163840" maxBytesPerRead="40960" maxNameTableCharCount="163840"/>
        </binding>
      </netNamedPipeBinding>

    </bindings>

    <client>
      <endpoint address="http://endor3.progel.org/DwhDataAccessNoteAnamnestiche/Dwh.DataAccess.Wcf.Service.NoteAnamnestiche.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicBindingDelServizio"
        contract="Dwh.DataAccess.NoteAnamnestiche.Wcf.Service.INoteAnamnestiche" name="endor3 Dwh.DataAccess" />

      <endpoint address="http://localhost:8733/Dwh.DataAccess.Wcf.Service/"
        binding="basicHttpBinding" bindingConfiguration="BasicBindingDelServizio"
        contract="Dwh.DataAccess.NoteAnamnestiche.Wcf.Service.INoteAnamnestiche"
        name="localhost Dwh.DataAccess" />

      <!-- net.pipe RELEASE -->      
      <endpoint address="net.pipe://localhost/DwhDataAccessNoteAnamnestiche/Dwh.DataAccess.Wcf.Service.NoteAnamnestiche.svc" binding="netNamedPipeBinding" 
         bindingConfiguration="pipeNoteAnamnestiche" contract="Dwh.DataAccess.NoteAnamnestiche.Wcf.Service.INoteAnamnestiche" 
         name="pipeNoteAnamnestiche-RELEASE">
        <identity>
          <userPrincipalName value="ettoreg@progel.org"/>
        </identity>
      </endpoint>

      <!-- net.pipe DEBUG -->
      <endpoint address="net.pipe://localhost/DwhDataAccessNoteAnamnestiche/NoteAnamnestiche" binding="netNamedPipeBinding"
         bindingConfiguration="pipeNoteAnamnestiche" contract="Dwh.DataAccess.NoteAnamnestiche.Wcf.Service.INoteAnamnestiche"
         name="pipeNoteAnamnestiche-DEBUG">
        <identity>
          <userPrincipalName value="ettoreg@progel.org"/>
        </identity>
      </endpoint>

    </client>

  </system.serviceModel>
  
  <userSettings>
    <Tester.My.MySettings>
      <setting name="PASSWORD" serializeAs="String">
        <value/>
      </setting>
      <setting name="USERNAME" serializeAs="String">
        <value/>
      </setting>
    </Tester.My.MySettings>
  </userSettings>
</configuration>
